<div class="bg-secondary">
    <h1 class="gradient large"><b>{{educationdetails | uppercase}}</b></h1>
</div>
<hr>

<div class="d-lg-flex  bg-danger text-white container ">
    <h3>{{heading1}}</h3>
</div>
<div class="container col-10">
    <p class=" card-subtitle bg-secondary text-center text-light">: {{desc1}}</p>
</div>
<div class="d-lg-flex  bg-danger text-white container ">
    <h3>{{heading2}}</h3>
</div>
<div class="container col-10">
    <p class=" card-subtitle bg-secondary text-center text-light">: {{desc2}}</p>
</div>
<div class="d-lg-flex  bg-danger text-white container ">
    <h3>{{heading3}}</h3>
</div>
<div class="container  col-10">
    <p class=" card-subtitle bg-secondary text-center text-light">: {{desc3}}</p>
</div>
