<!-- <div>
    <nav class="navbar navbar-expand navbar-light bg-dark gradient fixed-nav-bar">
        <a class="nav-link" routerLink="/login"><b> Home</b></a>
        <a class="nav-link" routerLink="/aboutme"><b>About Me</b></a>
        <a class="nav-link" routerLink="/experience"><b>Work Experience</b></a>
        <a class="nav-link" routerLink="/education"><b>Education</b></a>
        <a class="nav-link" routerLink="/contactme"><b>ContactMe</b></a>
    </nav>
</div> -->

<!-- <router-outlet></router-outlet> -->
<div class="center gradient">
    <img src="/assets/Best-Website-Welcome-Message-Examples.png" width="35%" height="50%">
    {{myname}}
</div>
